<html ng-app="Site">
<head>
  <title>Team Old Spice</title>
  <link href="/stylesheets/style.css" rel="stylesheet" />
  	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular-touch.min.js"></script>
    <script src="https://cdn.firebase.com/v0/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.3.0/angularfire.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/javascripts/client.js"></script>
    <script type="text/javascript" src="/javascripts/controllers.js"></script>
    <script type="text/javascript" src="/javascripts/directives.js"></script>
    <script type="text/javascript">
    window.onbeforeunload = function () {
      alert('dont do it');
    }
var inFormOrLink;
$('a').live('click', function() { inFormOrLink = true; });
$('form').bind('submit', function() { inFormOrLink = true; });


$(window).bind('beforeunload', function(eventObject) {
    var returnValue = undefined;
    if (! inFormOrLink) {
        returnValue = "Do you really want to close?";
    }
    eventObject.returnValue = returnValue;
    return returnValue;
}); 

function loadOut() {
  alert('hi');
}


    </script>
</head>
<body onbeforeunload="loadOut()">
  <ng-view></ng-view>
</body>
</html>
